<div class="alertContainer">
  <h2 mat-dialog-title>Aggiungi recensione</h2>
  <textarea class="descriptionField" #descriptionInput type="text" id="description" placeholder="Descrizione recensione" required></textarea>
  <br>
  <label>Valutazione: </label>
  <br>
  <form class="valutazione">
    <label>
      <input type="radio" name="stars" value="1" />
      <span class="icon">★</span>
    </label>
    <label>
      <input type="radio" name="stars" value="2" />
      <span class="icon">★</span>
      <span class="icon">★</span>
    </label>
    <label>
      <input type="radio" name="stars" value="3" />
      <span class="icon">★</span>
      <span class="icon">★</span>
      <span class="icon">★</span>
    </label>
    <label>
      <input type="radio" name="stars" value="4" />
      <span class="icon">★</span>
      <span class="icon">★</span>
      <span class="icon">★</span>
      <span class="icon">★</span>
    </label>
    <label>
      <input type="radio" name="stars" value="5" />
      <span class="icon">★</span>
      <span class="icon">★</span>
      <span class="icon">★</span>
      <span class="icon">★</span>
      <span class="icon">★</span>
    </label>
  </form>


  <div class="closeAlertButton" mat-dialog-actions>
    <button id="pubblicaButton" mat-button mat-dialog-close (click)="addReview()">Pubblica</button>
  </div>
</div>
