<div class="authentication-container">
  <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
    <mat-icon>more_vert</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item onClick="window.open('http://localhost:8080/login','_self')">
      <mat-icon>account_circle</mat-icon>
      <span>Accedi</span>
    </button >
    <button mat-menu-item onClick="window.open('http://localhost:8080/registration','_self')">
      <mat-icon>person_add</mat-icon>
      <span>Registrati</span>
    </button>
  </mat-menu>
</div>
<router-outlet></router-outlet>



