



/*     PARTE CARDS      */
.mat-grid-list {
  display: flex;
  flex-wrap: wrap;
}

.cards {
  width: 100%;
  border-radius: 20px;
  border: lightgray 1px solid !important;
}

.cards:hover {
  cursor: pointer;
  border: #ff9900 2px solid !important;
}

.gridList {
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 50px;
}

.matCardImg {
  width: 80%;
  height: 80%;
  padding: 10px;
  object-fit: contain;
}

.imageContainer{
  width: 300px;
  height: 300px;
  display: flex;
  border-radius: 20px;
  align-items: center;
  justify-content: center;
  margin: 20px;
}

mat-card-title,
mat-card-subtitle {
  margin-left: 20px;
}

mat-card-footer {
  margin-bottom: 10px;
}

@media screen and (max-width: 768px) {

  .imageContainer {
    width: 370px;
    margin: 2px auto;
    height: 380px;
  }

}





