<div class="errorCart">
  <h2>Prima di effettuare l'ordine, accedi o registrati a CarDoc!</h2>
  <div class="button-container">
    <button class="login-button" onclick="window.open('http://localhost:8080/login', '_self')">Accedi</button>
    <button class="register-button" onclick="window.open('http://localhost:8080/registration', '_self')">Registrati</button>
    <button class="close-button" onclick="window.open('http://localhost:4200/carrello', '_self')">Torna al carrello</button>
  </div>
</div>
