/* tabella*/

.custom-table{
  height: 10px;
}

.tbody{
  height: 10px;
}


table {
  border-collapse: collapse;
  background-color: #fff;
  width: auto;
  border-radius: 5px;
  overflow: hidden;
}

th, td {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 10px;
}

th {
  background-color: #f2f2f2;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 14px;
}

* {
  box-sizing: border-box;
}

#immagineProdottoOrdine{
  width: 100px;
  height: auto;
}

.custom-table {
  overflow-y: scroll;
  height: auto;
  max-height: 500px;
}
