<head>
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.2.0/dist/leaflet.css"/>
  <script src="https://unpkg.com/leaflet@1.2.0/dist/leaflet.js"></script>
</head>


<div class="moreinfo-container">

  <div class="store map-container" id="leafletMap"></div>

  <div id="footer">
    <ul class="footer-icons-row">
      <li>
        <img class="img" src="assets/immagini/footerIcon/mastercard.png">
      </li>
      <li>
        <img class="img" src="assets/immagini/footerIcon/visa-card.png">
      </li>
      <li>
        <img class="img" src="assets/immagini/footerIcon/warranty.png">
      </li>
      <li>
        <img class="img" src="assets/immagini/footerIcon/support.png">
      </li>
      <li>
        <img class="img" src="assets/immagini/footerIcon/security.png">
      </li>
    </ul>
    <ul class="footer-icons-row">
      <li>
        <img class="img" src="assets/immagini/footerIcon/bank.png">
      </li>
      <li>
        <img class="img" src="assets/immagini/footerIcon/delivery-time.png">
      </li>
      <li>
        <img class="img" src="assets/immagini/footerIcon/shipping.png">
      </li>
      <li>
        <img class="img" src="assets/immagini/footerIcon/open-box.png">
      </li>
      <li>
        <img class="img" src="assets/immagini/footerIcon/map.png">
      </li>
    </ul>
  </div>
  <div class="info-class">
    <p><strong>Orari di lavoro del servizio di assistenza clienti per Italia</strong></p>
    <p><strong>Dal Lunedì al Venerdì:</strong> 08:00 - 20:00</p>
    <p><strong>Sabato:</strong> 08:00 - 17:00</p>
    <p><strong>Domenica:</strong> chiuso</p>
  </div>
  <div class="contatti">
    <p><strong>Contatti:</strong></p>
    <p>francesco.campa2010&#64;libero.it</p>
    <p>ctldfederico&#64;gmail.com</p>
    <p>mpicerno24&#64;gmail.com</p>
    <p>pietrocimino3&#64;gmail.com</p>
  </div>
</div>

