<head>
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.2.0/dist/leaflet.css"/>
  <script src="https://unpkg.com/leaflet@1.2.0/dist/leaflet.js"></script>
</head>


<div class="moreinfo-container">

  <div class="immobileMap map-container" id="leafletMap"></div>

  <div id="footer">
    <ul class="footer-icons-row">
      <li>
        <img class=" lazyloaded" src="https://scdn.autodoc.de/static/payment/bw/paypal.svg" data-srcset="https://scdn.autodoc.de/static/payment/bw/paypal.svg" srcset="https://scdn.autodoc.de/static/payment/bw/paypal.svg" alt="PayPal">
      </li>
      <li>
        <img class=" lazyloaded" src="https://scdn.autodoc.de/static/payment/bw/sofort.svg" data-srcset="https://scdn.autodoc.de/static/payment/bw/sofort.svg" srcset="https://scdn.autodoc.de/static/payment/bw/sofort.svg" alt="Sofort Banking">
      </li>
      <li>
        <img class=" lazyloaded" src="https://scdn.autodoc.de/static/payment/bw/visa.svg" data-srcset="https://scdn.autodoc.de/static/payment/bw/visa.svg" srcset="https://scdn.autodoc.de/static/payment/bw/visa.svg" alt="Visa">
      </li>
      <li>
        <img class=" lazyloaded" src="https://scdn.autodoc.de/static/payment/bw/mastercard.svg" data-srcset="https://scdn.autodoc.de/static/payment/bw/mastercard.svg" srcset="https://scdn.autodoc.de/static/payment/bw/mastercard.svg" alt="Mastercard">
      </li>
      <li>
        <img class=" lazyloaded" src="https://scdn.autodoc.de/static/payment/bw/postepay.svg" data-srcset="https://scdn.autodoc.de/static/payment/bw/postepay.svg" srcset="https://scdn.autodoc.de/static/payment/bw/postepay.svg" alt="Bonifico Bancario">
      </li>
    </ul>
    <ul class="footer-icons-row">
      <li>
        <img class=" lazyloaded" src="https://scdn.autodoc.de/static/payment/bw/bank_transfer_IT.svg" data-srcset="https://scdn.autodoc.de/static/payment/bw/bank_transfer_IT.svg" srcset="https://scdn.autodoc.de/static/payment/bw/bank_transfer_IT.svg" alt="Bonifico Bancario">
      </li>
      <li>
        <img class=" lazyloaded" src="https://scdn.autodoc.de/static/payment/bw/carta_si.svg" data-srcset="https://scdn.autodoc.de/static/payment/bw/carta_si.svg" srcset="https://scdn.autodoc.de/static/payment/bw/carta_si.svg" alt="CartaSi">
      </li>
      <li>
        <img class=" lazyloaded" src="https://scdn.autodoc.de/static/delivery/bw/dhl.svg" data-srcset="https://scdn.autodoc.de/static/delivery/bw/dhl.svg" srcset="https://scdn.autodoc.de/static/delivery/bw/dhl.svg" alt="DHL">
      </li>
      <li>
        <img class=" lazyloaded" src="https://scdn.autodoc.de/static/delivery/bw/ups.svg" data-srcset="https://scdn.autodoc.de/static/delivery/bw/ups.svg" srcset="https://scdn.autodoc.de/static/delivery/bw/ups.svg" alt="UPS">
      </li>
      <li>
        <img class=" lazyloaded" src="https://scdn.autodoc.de/static/delivery/bw/gls.svg" data-srcset="https://scdn.autodoc.de/static/delivery/bw/gls.svg" srcset="https://scdn.autodoc.de/static/delivery/bw/gls.svg" alt="GLS">
      </li>
    </ul>
  </div>
  <div class="info-class">
    <p><strong>Orari di lavoro del servizio di assistenza clienti per Italia</strong></p>
    <p><strong>Dal Lunedì al Venerdì:</strong> 08:00 - 20:00</p>
    <p><strong>Sabato:</strong> 08:00 - 17:00</p>
    <p><strong>Domenica:</strong> chiuso</p>
  </div>
  <div class="contatti">
    <p><strong>Contatti:</strong></p>
    <p>francesco.campa2010&#64;libero.it</p>
    <p>ctldfederico&#64;gmail.com</p>
    <p>mpicerno24&#64;gmail.com</p>
    <p>pietrocimino3&#64;gmail.com</p>
  </div>
</div>

