<app-category></app-category>

<ng-container *ngIf="cart.length != 0">
  <div class="container">
    <div class="card-table">
      <h2 class="card-title">Carrello</h2>
      <div class="card-product">
        <table class="table table-responsive">
          <tr>
            <th>Immagine prodotto</th>
            <th>Nome</th>
            <th>Venditore</th>
            <th>Descrizione</th>
            <th>Prezzo</th>
            <th class="bottone-azioni">Azioni</th>
          </tr>
          <tbody>
          <tr *ngFor="let prodotto of cart">
            <td class="immagine-prodotto">
              <img src="assets/cartpieno.jpg" alt="Immagine Prodotto" class="immagine-prodotto-img">
            </td>
            <td>{{ prodotto.nome }}</td>
            <td>{{ prodotto.venditore }}</td>
            <td>{{ prodotto.descrizione }}</td>
            <td>{{ prodotto.prezzo | currency:'EUR':'symbol':'1.2-2' }}</td>
            <td>
              <div class="counter">
                <span class="down">-</span>
                <input id="quantityValue" type="text" value="1" disabled>
                <span class="up">+</span>
              </div>
              <div class="example-button-container">
                <button mat-fab aria-label="Delete icon" class="delete-button" (click)="removeItem(prodotto)">
                  <mat-icon>delete</mat-icon>
                </button>
              </div>
            </td>
          </tr>
          </tbody>
          <tfoot>
          <tr>
            <td colspan="4"></td>
            <td class="total-block">
              <strong>Totale: {{ grandTotal | currency:'EUR':'symbol':'1.2-2' }}</strong>
            </td>
            <td>
              <button class="btn btn-danger svuota-carrello" (click)="emptyCart()">Svuota Carrello</button>
            </td>
            <td>
              <button class="btn btn-success">Procedi con l'ordine</button>
            </td>
          </tr>
          </tfoot>
        </table>
      </div>
    </div>
  </div>
</ng-container>

<ng-container *ngIf="cart.length === 0">
  <div class="container">
    <div class="card">
      <h5 class="card-title">Carrello</h5>
    </div>
    <div class="center">
      <img src="assets/cartvuoto.jpg" alt="">
      <h3>Carrello vuoto!</h3>
      <h5>Aggiungi qualcosa al tuo carrello</h5>
      <button routerLink="/pagina-di-prodotti" class="btn btn-primary">Compra ora</button>
    </div>
  </div>
</ng-container>
